<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <aside class="span8">
    <section>
      	<p>
		  <b>Height:</b>
		  <%= best_in_place @bodystat, :height %>
		</p>
		<p>
		  <b>Weight:</b>
		  <%= best_in_place @bodystat, :weight %>
		</p>
		<p>
		  <b>Biceps:</b>
		  <%= best_in_place @bodystat, :biceps %>
		</p>
		<p>
		  <b>Waist:</b>
		  <%= best_in_place @bodystat, :waist %>
		</p>
		<p>
		  <b>Last updated:</b> <%= @bodystat.date %>
		</p>

		<%= link_to 'Update', @user.savebodystat %>
	</section>
  </aside>
  
</div>